@import "vars";

.portafolio-slider {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 370px;
  position: relative;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.portafolio-slider {
  .portafolio-slider--button {
    position: absolute;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 26px;
    bottom: 20px;
    z-index: 5;
    background-color: var(--red);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    a {
      text-decoration: none;
      color: var(--white);

      &:hover {
        color: var(--blue);
        transform: scale(1.05);
        transition: 0.5s;
      }
    }

    h2 {
      font-size: var(--title-mobile);
      line-height: var(--title-mobile);
      text-align: center;
    }
  }
}
@media (min-width: 1200px) {
  .portafolio-slider {
    height: 460px;
    .portafolio-slider--button h2 {
      font-size: var(--title-desktop);
      line-height: var(--title-desktop);
    }
  }
}
