@import "vars";

.portafolio-slider {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 370px;
  position: relative;
  justify-content: center;
  align-content: center;
  align-self: center;
  overflow-x: hidden;
  overflow-y: hidden;

  .portafolio-slider--title {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    top: 10px;
    background-color: var(--blue);
    border-radius: 8px;

    h2 {
      font-size: 2.4rem;
      line-height: 2.6rem;
      text-align: center;
      color: var(--black);
      font-style: italic;
    }
  }

  .slider-imgs {
    display: grid;
    grid-template-columns: 25px 260px 260px 260px 260px 25px;
    width: 520px;
    overflow: hidden;
    border-radius: 8px;
    justify-content: center;
  }
}

.img-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  animation: slide 16s linear infinite;
}

.img-2 {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  animation: slide 16s linear infinite;
  animation-delay: 4s;
}

.img-3 {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  animation: slide 16s linear infinite;
  animation-delay: 8s;
}

.img-4 {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  animation: slide 16s linear infinite;
  animation-delay: 12s;
}

@keyframes slide {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 1090px;
  }
}

.portafolio-slider {
  img {
    width: 260px;
    border-radius: 8px;
  }

  .portafolio-slider--button {
    position: absolute;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 26px;
    bottom: 10px;
    background-color: var(--red);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    a {
      text-decoration: none;
      color: var(--white);

      &:hover {
        color: var(--blue);
        transform: scale(1.05);
        transition: 0.5s;
      }
    }

    h2 {
      font-size: var(--title-mobile);
      line-height: var(--title-mobile);
      text-align: center;
    }
  }
}
@media (min-width: 1200px) {
  .portafolio-slider {
    height: 460px;
    .portafolio-slider--button h2 {
      font-size: var(--title-desktop);
      line-height: var(--title-desktop);
    }
  }
}
