@import "vars";

.slider {
  max-width: 520px;
  position: relative;
  .img-container {
    display: grid;
    position: relative;
    width: 520px;
    height: 370px;
    overflow: hidden;
    img {
      top: 20px;
      width: 260px;
      transition: 1s;
      padding: 5px;
    }
    .img-1 {
      position: absolute;
      left: -260px;
      z-index: 1;
    }
    .img-2 {
      position: absolute;
      left: 0px;
      z-index: 3;
    }
    .img-3 {
      position: absolute;
      left: 260px;
      z-index: 4;
    }
    .img-4 {
      position: absolute;
      left: 520px;
      z-index: 2;
    }
  }
  .arrowRight {
    position: absolute;
    width: 50px;
    right: 0px;
    top: 150px;
    z-index: 6;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .arrowLeft {
    position: absolute;
    width: 50px;
    left: 0px;
    top: 150px;
    z-index: 6;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 510px) {
  .slider {
    .arrowLeft {
      left: 70px;
    }
  }
}
