.intro-isai {
  position: relative;
  padding-right: 10px;
  display: flex;
  max-width: 450px;
  height: 380px;
  justify-content: flex-start;
  flex-direction: column;

  img {
    position: absolute;
    width: 308px;
    top: -7px;
  }

  .isai-titulo {
    position: relative;
    margin-top: 20px;
    text-align: right;

    h2 {
      font-size: var(--title-mobile);
      line-height: var(--title-mobile);
      text-align: right;
    }

    p {
      font-size: var(--p-mobile);
      font-weight: 300;
      text-align: right;
    }
  }
}

.description {
  position: relative;
  font-size: var(--p-mobile);
  font-weight: 600;
  line-height: 2.4rem;
  text-align: right;
  width: 50%;
  align-self: flex-end;
}

@media (max-width: 413px) {
  .intro-isai img {
    left: -35px;
  }
}

@media (max-width: 343px) {
  .intro-isai {
    height: 330px;

    img {
      width: 260px;
    }
  }
}

@media (min-width: 1200px) {
  .intro-isai {
    max-width: 650px;
    height: 470px;
    img {
      width: 487px;
    }
    .isai-titulo {
      h2 {
        font-size: var(--title-desktop);
        line-height: var(--title-desktop);
      }
      p {
        font-size: var(--p-desktop);
      }
    }
  }
  .description {
    font-size: var(--p-desktop);
    line-height: 2.6rem;
  }
}
